<div ng-app="controllers.index" ng-controller="IndexCtrl">
  
  <h1>Now Playing on Hbizzle</h1>

  <table class="table">
    <thead>
      <tr>
        <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a></th>
        <th>Image</th>
        <th>Summary</th>
        <th><a href="" ng-click="predicate = 'year'; reverse=!reverse">Year</a></th>
        <th>IMDB</th>
        <th><a href="" ng-click="predicate = 'rating'; reverse=!reverse">Rating</a></th>
        <th><a href="" ng-click="predicate = 'imdb_rating'; reverse=!reverse">IMDB Rating</a></th>
        <th><a href="" ng-click="predicate = 'rotten_critics_score'; reverse=!reverse">Rotten Critics</a></th>
        <th><a href="" ng-click="predicate = 'rotten_audience_score'; reverse=!reverse">Rotten Audience</a></th>
        <th><a href="" ng-click="predicate = 'meta_score'; reverse=!reverse">Hbizzle Score</a></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="movie in movies | orderBy:predicate:reverse">
        <td><strong><a href="{{ movie.hbo_link }}" target="_blank">{{ movie.title }}</a></strong></td>
        <td><img src="{{ movie.image }}" alt="" height="100"></td>
        <td>{{ movie.summary }}</td>
        <td>{{ movie.year }}</td>
        <td><a href="{{ movie.imdb_link }}" target="_blank">IMDB</a></td>
        <td>{{ movie.rating }}</td>
        <td>{{ movie.imdb_rating }}</td>
        <td>{{ movie.rotten_critics_score }}</td>
        <td>{{ movie.rotten_audience_score }}</td>
        <td>{{ movie.meta_score }}</td>
      </tr>
    </tbody>
  </table>

  <script>
    window.movies = <%= raw @movies.to_json(except: [:expire, :hbo_id, :created_at, :updated_at], methods: [:hbo_link, :meta_score]) %>;
  </script>

</div>
