<div class="container" ng-app="controllers.index" ng-controller="IndexCtrl">
  
  <div class="big-head hidden-xs">
    <div class="headline" ng-click="goToCurrentPage()">
      <h1 class="text-left title">Hbizzle</h1>
      <p class="text-left kurt"><em>It's Go Time.</em></p>
    </div>

    <div id="fb-share" class="fb-share-button" data-href="http://www.hbizzle.com" data-type="button_count"></div>
    <a id="twitter-share" href="https://twitter.com/share" class="twitter-share-button" data-text="Discovering amazing movies on hbizzle.com" data-hashtags="hbizzle">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


  </div>

  <div class="clearfix"></div>

  <div class="small-head visible-xs">
    <div ng-click="goToCurrentPage()">
      <h1 class="text-center title">Hbizzle</h1>
      <p class="text-center kurt"><em>It's Go Time.</em></p>
    </div>

    <div style="padding: 0 15px 15px 15px;">
      <input type="text" class="form-control" ng-model="textFilter" placeholder="Search for a movie!">
    </div>
  </div>

  <div class="movies-container" style="text-align: center;">

    <h1 style="margin: 100px;">Sorry for the inconvenience, but we're offline at the moment.  Stay tuned.</h1>

  </div>

  <hr />

  <footer class="text-center">
    <p class="who-are-we"><strong><a href="http://tmd.io/journal/2013/12/08/hbizzle/">What is Hbizzle?</a></strong></p>
    <p>Made with ambivalence by <a href="http://www.twitter.com/tylermdavis">@tylermdavis</a>.</p>
    <p>Code available on <a href="https://github.com/tylerdavis/hbizzle">Github</a>, licensed under <a href="http://opensource.org/licenses/MIT">MIT</a>.</p>
  </footer>

  <script>
    window.movies = <%= raw @movies.to_json(except: [:id, :expire, :updated_at, :poster_uid, :image, :imdb_link, :imdb_rating, :rotten_critics_score, :rotten_audience_score, :plays, :provider], methods: [:hbo_link, :image_url, :meta_score]) %>;
  </script>

</div>
