<div class="container" ng-app="controllers.index" ng-controller="IndexCtrl">
  
  <div class="big-head hidden-xs">
    <div class="headline">
      <h1 class="text-left title">Hbizzle</h1>
      <p class="text-left kurt"><em>It's Go Time.</em></p>
    </div>

    <div class="form-group search-input col-lg-4 col-md-4 col-sm-6">
      <input type="text" class="form-control" ng-model="textFilter" placeholder="Search for a movie!">
    </div>
  </div>

  <div class="small-head visible-xs">
    <div class="">
      <h1 class="text-center title">Hbizzle</h1>
      <p class="text-center kurt"><em>It's Go Time.</em></p>
    </div>

    <div class="form-group col-lg-4 col-md-4 col-sm-6">
      <input type="text" class="form-control" ng-model="textFilter" placeholder="Search for a movie!">
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="movies-container">

    <div class="table-responsive table-wrapper" ng-show="(movies | filter:textFilter).length">
      <table class="table movies">
        <thead>
          <tr>
            <th data-sorted="{{predicate == '-title'}}" data-sorted-direction="{{sortDirection()}}" class="title" width="12%"><a href="" ng-click="predicate = '-title'; reverse=!reverse">Title</a></th>
            <th data-sortable="false" class="hidden-xs">Image</th>
            <th data-sortable="false" class="hidden-md hidden-sm hidden-xs" width="26%">Summary</th>
            <th data-sorted="{{predicate == '-year'}}" data-sorted-direction="{{sortDirection()}}" class="hidden-xs"><a href="" ng-click="predicate = '-year'; reverse=!reverse">Year</a></th>
            <th data-sortable="false" class="hidden-xs">IMDB</th>
            <th data-sorted="{{predicate == '-rating'}}" data-sorted-direction="{{sortDirection()}}" class="hidden-xs"><a href="" ng-click="predicate = '-rating'; reverse=!reverse">Rating</a></th>
            <th data-sorted="{{predicate == '-meta_score'}}" data-sorted-direction="{{sortDirection()}}" class="text-center"><a href="" ng-click="predicate = '-meta_score'; reverse=!reverse">Hbizzle</a></th>
            <th data-sorted="{{predicate == '-imdb_rating'}}" data-sorted-direction="{{sortDirection()}}" class="hidden-md hidden-sm hidden-xs"><a href="" ng-click="predicate = '-imdb_rating'; reverse=!reverse">IMDB</a></th>
            <th data-sorted="{{predicate == '-rotten_critics_score'}}" data-sorted-direction="{{sortDirection()}}" class="hidden-md hidden-sm hidden-xs"><a href="" ng-click="predicate = '-rotten_critics_score'; reverse=!reverse">R/C</a></th>
            <th data-sorted="{{predicate == '-rotten_audience_score'}}" data-sorted-direction="{{sortDirection()}}" class="hidden-md hidden-sm hidden-xs"><a href="" ng-click="predicate = '-rotten_audience_score'; reverse=!reverse">R/A</a></th>
          </tr>
        </thead>

        <tbody ng-cloak>
          <tr ng-repeat="movie in (filteredMovies = (movies | orderBy:predicate:reverse | startFrom:currentPage * pageSize - pageSize | limitTo:pageSize | filter:textFilter))">
            <td class="title"><a href="{{ movie.hbo_link }}" target="_blank">{{ movie.title }}</a></td>
            <td class="hidden-xs" width="14%"><img ng-src="{{ movie.image }}" style="width:100%;"></td>
            <td class="hidden-md hidden-sm hidden-xs summary">{{ movie.summary }}</td>
            <td class="hidden-xs">{{ movie.year }}</td>
            <td class="hidden-xs"><a href="{{ movie.imdb_link }}" target="_blank">IMDB</a></td>
            <td class="hidden-xs">{{ movie.rating }}</td>
            <td class="score">{{ movie.meta_score }}</td>
            <td class="hidden-md hidden-sm hidden-xs">{{ movie.imdb_rating }}</td>
            <td class="hidden-md hidden-sm hidden-xs">{{ movie.rotten_critics_score }}</td>
            <td class="hidden-md hidden-sm hidden-xs">{{ movie.rotten_audience_score }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="text-center no-match" ng-hide="(movies | filter:textFilter).length">I couldn't find anything that matched your query, Bizzle.</p>

  </div>
  <div class="page text-center">
    <pagination class="hidden-xs" total-items="(movies | filter:textFilter).length" page="currentPage" items-per-page="pageSize" max-size="showPagesNum" boundary-links="true" rotate="false" first-text="&laquo;" last-text="&raquo;" class="pagination"></pagination>
    <pager class="visible-xs col-centered" total-items="(movies | filter:textFilter).length" page="currentPage"></pager>
  </div>

  <hr />

  <footer class="text-center">
    <p>Made with ambivalence by <a href="http://www.twitter.com/tylermdavis">@tylermdavis</a>.</p>
    <p>Code available on <a href="https://github.com/tylerdavis/hbizzle">Github</a>, licensed under <a href="http://opensource.org/licenses/MIT">MIT</a>.</p>
  </footer>

  <script>
    window.movies = <%= raw @movies.to_json(except: [:expire, :hbo_id, :created_at, :updated_at], methods: [:hbo_link, :meta_score]) %>;
  </script>


</div>
