<div class="container latest">
  <div class="row text-center">
      <h1 class="title"><a href="/">Hbizzle</a> <span class="beta">BETA</span></h1>
      <p class="kurt"><em>It's Go Time.</em></p>
  </div>

  <div id="fb-share" class="fb-share-button" data-href="http://www.hbizzle.com" data-type="button_count"></div>
  <a id="twitter-share" href="https://twitter.com/share" class="twitter-share-button" data-text="Discovering amazing movies on hbizzle.com" data-hashtags="hbizzle">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  
  <div class="clearfix"></div>

    <h2 class="text-center movies">Just added!</h2>

  <div class="row movies">
    <% @movies.each do |movie| %>
      <% if movie.big_poster_stored? %>
        <div class="movie" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<h2><%= movie.title %></h2><p><%= movie.created_at.strftime("%B %d, %Y") %></p><p><%= movie.summary %></p>">
          <%= link_to image_tag(movie.big_poster.remote_url(expires: 1.year.from_now), class: 'poster'), movie.hbo_link, target: "_blank" %>
          <img src="http://dsbu8p9bw9q44.cloudfront.net/static/play.png" alt="play" class="play">
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row text-center">
    <h2><a href="/">See more on Hbizzle »</a></h2>
      <hr/>
      <p><em>To stay up to date on new releases, follow us on Twitter!</em></p>
      <a href="https://twitter.com/hbizzledotcom" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large" data-show-count="true">Follow @hbizzledotcom</a>
  </div>
</div>
