$lightGrey: #F5F5F5;
$grey: #DDDDDD;
$greyBorder: 1px solid $grey;

.movies-container {
  border-radius: 6px;
  border: $greyBorder;
  margin: 0 0 20px 0;
  .header {
    border-radius: 6px 6px 0 0;
    border-bottom: $greyBorder;
    background-color: $lightGrey;
    padding: 10px;
  }
  .table-wrapper {
    table.table {
      thead {
        th {
          border-bottom: none;
        }
      }
    }
  }
}