.pagination {
  ul {
    li {
      display: inline-block;
      padding: 5px 12px;
      border: $greyBorder;
      border-right: none;
      cursor: pointer;
      &:last-child {
        border-right: $greyBorder;
        border-radius: 0 4px 4px 0;
      }
      &:first-child {
        border-radius: 4px 0 0 4px;
      }
      &.disabled, &.active {
        cursor: default;
        background-color: $lightGrey;
      }
      &.disabled a, &.active a {
        color: $grey;
          &:hover {
            text-decoration: none;
          }
      }
    }
  }
}